# Importing & Preprocessing

In [1]:
# Import the necessary modules.
import numpy as np
import pandas as pd

In [2]:
# Read the csv file and convert the 'Unique Key' column to the index of our Pandas DataFrame.
df = pd.read_csv("311_Service_Requests_2020.csv", index_col = "Unique Key", low_memory = False)

# Notice that the data type of 'Incident Zip' is float64, which does not look right.
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2587316 entries, 45285347 to 48543111
Data columns (total 40 columns):
 #   Column                          Dtype
---  ------                          -----
 0   Created Date                    object
 1   Closed Date                     object
 2   Agency                          object
 3   Agency Name                     object
 4   Complaint Type                  object
 5   Descriptor                      object
 6   Location Type                   object
 7   Incident Zip                    float64
 8   Incident Address                object
 9   Street Name                     object
 10  Cross Street 1                  object
 11  Cross Street 2                  object
 12  Intersection Street 1           object
 13  Intersection Street 2           object
 14  Address Type                    object
 15  City                            object
 16  Landmark                        object
 17  Facility Type                   object
 18  Status                          object
 19  Due Date                        object
 20  Resolution Description          object
 21  Resolution Action Updated Date  object
 22  Community Board                 object
 23  BBL                             float64
 24  Borough                         object
 25  X Coordinate (State Plane)      float64
 26  Y Coordinate (State Plane)      float64
 27  Open Data Channel Type          object
 28  Park Facility Name              object
 29  Park Borough                    object
 30  Vehicle Type                    object
 31  Taxi Company Borough            object
 32  Taxi Pick Up Location           object
 33  Bridge Highway Name             object
 34  Bridge Highway Direction        object
 35  Road Ramp                       object
 36  Bridge Highway Segment          object
 37  Latitude                        float64
 38  Longitude                       float64
 39  Location                        object
dtypes: float64(6), object(34)
memory usage: 809.3+ MB

,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
Unique Key,,,,,,,,,,,,,,,,,,,,,
45285347,01/01/2020 12:00:00 AM,01/10/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
45285651,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
45285821,01/01/2020 12:00:00 AM,01/02/2020 09:50:09 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"
45287907,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11214.0,1602 SHORE PARKWAY,SHORE PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595653,-74.000173,"(40.59565343138651, -74.00017283917487)"
45288240,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11385.0,1717 CORNELIA STREET,CORNELIA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700366,-73.905438,"(40.700366489799876, -73.90543829006366)"

In [3]:
# View the unique entries to 'Incident Zip' to see what is wrong.
df["Incident Zip"].unique()

array([11229., 10458., 11203., 11214., 11385., 11225., 11421., 10455.,
       11215., 11210., 10468., 10025., 11103., 11222., 10016., 11206.,
       11221., 11238., 11223., 11219., 10465., 10040., 11228., 10472.,
       11373., 10463., 10031., 10460., 11217., 10012., 10002., 10466.,
       11209., 11237., 10034., 11220., 10456., 11235., 10470., 10013.,
       10452., 11420., 11230., 10017., 11378., 10464., 10173., 11212.,
       11231., 10033., 11218., 10462., 10003., 11226., 11423., 11361.,
       11236., 11366., 10009., 11372., 10309., 11368., 11201., 11432.,
       11691., 11204., 10039., 11375., 11233., 10312., 10024., 11365.,
       11370., 10029., 11358., 10471., 10314., 11207., 10022., 10032.,
       11356., 10014., 11213., 10026., 10453., 11419., 10459., 11105.,
       10461., 11211., 11357., 11434., 11428., 10473., 10037., 11426.,
       10307., 11377., 10128., 10305., 10306., 11354., 10451., 10467.,
          nan, 10010., 10028., 11208., 10457., 10038., 10027., 11104.,
       11224., 11379., 10310., 11418., 11369., 11414., 11422., 11249.,
       11360., 11364., 11232., 11205., 11415., 11106., 10011., 11102.,
       10021., 10007., 10469., 11412., 11234., 10075., 10454., 11374.,
       11435., 10035., 10004., 11216., 10030., 11694., 11413., 10036.,
       10303., 10302., 10475., 10304., 11417., 11101., 10282., 11692.,
       10023., 11433., 10018., 11693., 11362., 10301., 11367., 10065.,
       11416., 10019., 11239., 11430., 10001., 10121., 10105., 11355.,
       10308., 10279., 11004., 11436., 10005., 10474., 11411., 11427.,
       10044., 10119., 11371., 11429., 10169., 11363., 10177., 11040.,
       11359., 10000., 10006., 10178., 10280., 11001., 10174., 10069.,
       11109., 11697., 11005., 10020., 12345., 10171., 10120., 10278.,
       10112., 10172., 10281., 10041., 10168., 11695., 10165., 10162.,
       10103., 10151., 11242., 10118., 10152., 10271., 10154., 10155.,
       10110., 10045., 10123., 10170., 10166., 11251., 10122., 10158.,
       10179., 10111., 10055., 10106., 10176., 11241., 10107., 10115.,
          83., 10153., 10167., 10175., 10048.])

In [4]:
# From the above zip codes, '83' and 'nan' are definite not valid zip codes, but we need to investigate '12345'.
print(df[df["Incident Zip"] > 11697]["Incident Zip"].unique()) # '11697' is the maximum zip code in NYC.
print(df[df["Incident Zip"] > 11697]["Incident Address"].unique()) # Get the addresses of the oversized zip code.

[12345.]
['2376 ADAM CLAYTON POWELL JR BOULEVARD' '2376 7 AVENUE'
 '2376 ADAM CLAYTON POWELL BOULEVARD' '2374 7 AVENUE'
 '2374 ADAM CLAYTON POWELL JR BOULEVARD' '2370 7 AVENUE'
 '2374 ADAM CLAYTON POWELL BOULEVARD' '2372 ADAM CLAYTON POWELL BOULEVARD'
 '2378 7 AVENUE' '2370 ADAM CLAYTON POWELL JR BOULEVARD'
 '2372 ADAM CLAYTON POWELL JR BOULEVARD' '2374 ADAM C POWELL BOULEVARD']

In [5]:
# From the above addresses, we see that '10030' is incorrectly coded as '12345', and we are ready to fix the zip codes.
def fix_zip(zip_code):
    """
    This function corrects all mistaken zip codes in our Pandas DataFrame and converts them to strings.
    """
    try:
        result = int(zip_code) # Try to convert a zip code to an integer.
        if result < 10001: # '10001' is the minimum zip code in NYC.
            return np.NaN
        elif result == 12345: # Recode '12345' as '10030'.
            return "10030"
        else:
            return str(result) # Return a correct zip code as a string.
    except:
        return np.NaN # If a zip code, namely 'nan', cannot be converted to an integer, return 'np.NaN'.

# Now, we apply the above function to 'Incident Zip' to fix the zip codes in our Pandas DataFrame.
df["Incident Zip"] = df["Incident Zip"].apply(fix_zip)

# Data Analysis

In [6]:
# Subset the rows where 'Incident Zip' is equal to '10027', which is Columbia University's zip code.
df_cu = df[df["Incident Zip"] == "10027"]

# Checking...
df_cu["Incident Zip"].unique()

array(['10027'], dtype=object)

In [7]:
# Extract the top 10 incident types in 'df_cu' and count each incident types in the full Pandas DataFrame.
top10 = df[df["Complaint Type"].isin(df_cu["Complaint Type"].value_counts()[:10].index)]["Complaint Type"].value_counts()
print(f"The Top 10 incident types in the area with zip code 10027 are\n{top10}\n")

The Top 10 incident types in the area with zip code 10027 are
Noise - Residential            406050
Noise - Street/Sidewalk        206541
Illegal Parking                193721
HEAT/HOT WATER                 164071
Non-Emergency Police Matter     83914
Noise - Vehicle                 81074
UNSANITARY CONDITION            61964
Illegal Fireworks               49402
Noise                           44912
PLUMBING                        37047
Name: Complaint Type, dtype: int64

In [8]:
# Verify the data type, index names, and values of 'top10'.
print(f"The data type is\n{type(top10)}\n")
print(f"The index names are\n{top10.index}\n")
print(f"The values are\n{top10.values}")

The data type is
<class 'pandas.core.series.Series'>

The index names are
Index(['Noise - Residential', 'Noise - Street/Sidewalk', 'Illegal Parking',
       'HEAT/HOT WATER', 'Non-Emergency Police Matter', 'Noise - Vehicle',
       'UNSANITARY CONDITION', 'Illegal Fireworks', 'Noise', 'PLUMBING'],
      dtype='object')

The values are
[406050 206541 193721 164071  83914  81074  61964  49402  44912  37047]